body {
  background-color: rgb(49, 0, 49);
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
}

table {
  width: 800px;
  display: block;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 0 8px 4px rgb(0, 255, 255, 0.5);
}

th {
  padding: 10px 15px;
  text-transform: uppercase;
}

td {
  border-top: 1px solid rgb(0, 255, 255, 0.5);
  padding: 5px 15px;
}